.activeBtn {
  box-shadow: 0 2px 8px rgb(0 0 0 / 77%), inset 0 1px rgb(255 255 255 / 30%),
    inset 0 10px rgb(255 255 255 / 20%), inset 0 10px 20px rgb(255 255 255 / 81%),
    inset 0 -15px 30px rgb(0 0 0 / 27%);
  background-color: greenyellow;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 120px;
}

.title {
  font-family: 'Nunito-Bold';
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--border-color);
  margin-bottom: 58px;
}

.answerWrapper {
  font-family: 'Nunito-Light';
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.answerCounter {
  color: var(--border-color);
}

.rightAnswer {
  color: var(--color-right);
}

.gameContent {
  text-align: center;
}

.imgWrapper {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  border-radius: 25%;
  overflow: hidden;
  border-radius: 6px;
}

.answerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.answerWordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 18px 0px 45px 0px;
}

.answerWord {
  font-family: 'Nunito-Bold';
  font-size: 24px;
  line-height: 36px;
}

.answerWord.hiddenAnswer {
  font-size: 0px;
  visibility: hidden;
}

.currAnswer {
  display: inline-block;
}

.answerWord::first-letter,
.currAnswer::first-letter {
  text-transform: uppercase;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 130px;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex: 1 0 100%;
  gap: 0px 20px;
}

.answersItem,
.answerBtn {
  font-family: 'Nunito-Bold';
  padding: 7px 25px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  font-size: 14px;
  line-height: 21px;
  color: var(--main-color);
  background: #ffffff;
  border: 1px solid #548dff;
  border-radius: 6px;
  outline-color: var(--main-color);
}

.answerBtn {
  background: var(--main-color);
  color: #ffffff;
}

.answerRight {
  background-color: var(--color-right);
  color: #ffffff;
}

.answerWrong {
  background-color: rgb(255, 71, 47);
  color: #ffffff;
}

.answersItem.hiddenAnswerItem {
  background-color: var(--color-right);
}

.answersItem:active,
.answerBtn:active {
  background-color: rgba(84, 141, 255, 0.5);
}

.answersItem:hover,
.answerBtn:hover {
  box-shadow: 0 2px 8px rgb(0 0 0 / 77%), inset 0 1px rgb(255 255 255 / 30%);
}

.answerLabel {
  visibility: hidden;
  padding-right: 10px;
}

.playBtn {
  font-size: 0px;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 0px;
  cursor: pointer;
  border-color: transparent;
  transition: all 0.4s ease;
}

.playBtn.answerVisible {
  margin-right: 30px;
}

.playBtn:hover {
  background-color: rgb(172, 172, 172);
}

.playBtn:active {
  box-shadow: 0 2px 8px rgb(0 0 0 / 77%), inset 0 1px rgb(255 255 255 / 30%);
}

.playIcon {
  fill: #ffffff;
}
