.button,
.goToAuth{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #548DFF;
  font-size: 14px;
  line-height: 21px;
  color: #548DFF;
  padding: 0 12px;
  font-weight: 700;
}
.goToAuth{
  height: 35px;
}
.button:hover {
  background-color: #548DFF;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.button:active {
  background-color: transparent;
  border: 1px solid #548DFF;
  color:  #548DFF;
  cursor: pointer;
}
