.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  max-width: 500px;
  height: 60px;
  margin: 28px auto 75px auto;
}

.soundImage {
  font-size: 0px;
}

/* .statsList {
} */
