.crossButtonContainer{
  position: absolute;
  top: 15px;
  right: 0px;
  width: 35px;
  height: 35px;
  border: 1px solid #548DFF;
  border-radius: 6px;
  background-color: transparent;
  outline-color: var(--main-color);
}
.cross,
.crossButtonLink {
  width: 100%;
  height: 100%
}
.cross{
  color: transparent;
}
.crossButtonContainer:hover{
  background-color: #3961b3;
  cursor: pointer;
}
.crossButtonContainer:active{
  transform: scale(0.98);
  background-color: #548DFF;
  cursor: pointer;
}
.crossButtonContainer:active .cross{
  transform: scale(0.98);
} 