.crossButtonContainer{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #C80707;
}
.cross,
.crossButtonLink {
  width: 100%;
  height: 100%
}
.cross{
  color: transparent;
}
.crossButtonContainer:hover{
  background-color: #8a0404;
  cursor: pointer;
}
.crossButtonContainer:active{
  transition: all ease-in-out 1s;
  transform: scale(0.95);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #C80707;
  color: #C80707
}
.crossButtonContainer:active .cross{
  transform: scale(0.9);
} 