.about-page{
  width: 100vw;
  /* height: 1080px; */
  height: 100vh;
  background-color: #F5F5F5;;
}
.about-page-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 1080px;
  margin: 0 auto;
  /* padding-top: 32px; */
}

.about-page-title{
  display: block;
  width: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0058C9;
  margin: 134px auto 60px auto;
}
.member-card-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  gap: 20px;
  height: 100%;
  background-color: transparent;
  border: 1px solid #0058C9;
  border-radius: 6px;
  /* margin: 15px auto 15px auto; */
  /* -webkit-box-shadow: 0px 2px 10px 2px rgba(185, 191, 195, 0.2);
  -moz-box-shadow: 0px 2px 10px 2px rgba(185, 191, 195, 0.2);
  box-shadow: 0px 2px 10px 2px rgba(185, 191, 195, 0.2); */
}
.card:nth-child(2){
  margin-left: 40px;
  margin-right: 40px;
}
.member-card-image-container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.member-image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.about-member-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-align: justify;
  margin: 0 auto;
  align-items: center;
  padding: 0 10px;
}
.member-name{
  width: 165px;
  height: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #000000;
  margin-left: 20.13px;
  margin-bottom: 3px;
}
.member-role {
  width: 215px;
  height: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  text-transform: capitalize;
  color: #000000;
  margin-top: 50px;
}
.logo-container{
  right: 5px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px auto 15px auto
}
.logo-container:hover{
  transform: scale(1.05);
  transition: ease-in-out 1s;
  background-color: inherit;
}
.logo-container:active{
  transform: scale(1);
  transition: ease-in-out 1s;
  background-color: rgb(195, 252, 207);
}
.git-logo-link{
  display: block;
  width: 100%;
  height: 100%;
}
.logo{
  display: block;
  width: 100%;
  height: 100%;
}

.logo-block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
  margin: 0 auto 0 auto;
}
