*{
  box-sizing: border-box;
}
.mainModal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin:0 auto;
  opacity: 0.9;
}

.littleModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  max-width: 800px;
  height: 300px;
  background-color: transparent;
  border: 1px solid #0058C9;
  border-radius: 6px;
}
.modalTitle {
  display: block;
  font-weight: 600;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0058C9;
  margin-bottom: 46px;
}
.gameInfoBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align:center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
/* .modalTitle{

} */
.buttonList{
  display: flex;
  align-items: center;
  width: 750px;
  height: 35px;
  /* margin-top: 20px; */
}

.buttonList button {
  outline-color: var(--main-color);
}

.between{
  justify-content: space-between;
}
.center{
  justify-content: center;
}
.categoryButton{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 120px;
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #548DFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #548DFF;
  padding: 0 12px;
  /* -webkit-box-shadow: 0px 1px 7px 7px rgba(13, 199, 133, 0.2);
  -moz-box-shadow: 0px 1px 7px 7px rgba(13, 199, 133, 0.2);
  box-shadow: 0px 1px 7px 7px rgba(13, 199, 133, 0.2); */
}
.categoryTitle{
  width: 30px;
  height: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #548DFF;
}
.categoryButton:hover {
  background-color: #548DFF;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.categoryButton:hover .categoryTitle{
  color: #FFFFFF;
}
.categoryButton:active {
  background-color: transparent;
  border: 1px solid #548DFF;
  color:  #548DFF;
  cursor: pointer;
}
.categoryButton:active .categoryTitle{
  color: #548DFF;
}