.header {
  font-size: 16px;
  line-height: 22px;

  background-color: rgba(84, 141, 255, 1);
}

.headerContainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 14px;
}
