@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&family=Yanone+Kaffeesatz:wght@700&display=swap');

.navigation {
  display: flex;
  align-items: center;
}
li {
  cursor: pointer;
}
.menuList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 75vw;
  gap: 3vw;
  padding-left: 0;
}
.menuList > * {
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}
.menuList > *,
.menuList > *:link,
.menuList > *:visited
{
  font-size: 1.2rem;
  color: #2877b4cf;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #2877b4cf;
  padding: 3px 10px; 
  transition: all .2s;
}
.menuList > *:hover {
  background: #2877b4cf;
  border: 2px solid transparent;
  color: white;
  background-size: cover;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  transform: translateY(-2px);
}
.menuList > a:active {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  transform: translateY(0px);
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: unset;
}
.dropdownContent {
  display: none;
  flex-direction: column;
  transform: translate(70px, -35px);
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownContent a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropbtn {
  font-family: 'Jost', sans-serif;
  text-transform: lowercase;
  font-size: 1.2rem;
  color: #2877b4cf;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: unset;
}

.dropdownContent a:hover {
  text-decoration: underline;
  border-radius: 3px;}
.dropdownContent a:active {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
.dropdownShow {display: flex;}
.dropdown:hover .dropbtn {color: white;}