/* .navigation {
} */
.navigation a {
  color: #ffffff;
}
/* li {
  cursor: pointer;
} */

/* .menuList { */
/* gap: 3vw; */
/* padding-left: 0; */
/* } */
.navLink {
  color: #d8d8d8cf;
}
.menuList > *,
/* .menuList > *:link, */
.menuList > *:visited {
  display: inline-block;
  border-radius: 5px;
  /* text-decoration: none; */
  /* border: 2px solid transparent; */
  /* border-bottom: 2px solid #2877b4cf; */
  margin: 0px 14px;
  transition: all 0.3s ease;
}

.navLink {
  position: relative;
}

.navLink::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}
.navLink:hover::before {
  width: 100%;
}
/* .menuList > *:hover { */
/* background: #2877b4cf;
  border: 2px solid transparent;
  color: white;
  background-size: cover;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); */
/* } */
.menuList > a:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.active::after {
  content: '';
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

/* .dropdown {
  position: relative;
  display: inline-block;
  cursor: unset;
} */
/* .dropdownContent {
  display: none;
  flex-direction: column;
  transform: translate(70px, -35px);
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  max-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
} */

/* .dropdownContent a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropbtn {
  font-family: 'Jost', sans-serif;
  text-transform: lowercase;
  font-size: 1.2rem;
  color: #2877b4cf;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: unset;
} */

/* .dropdownContent a:hover {
  text-decoration: underline;
  border-radius: 3px;
}
.dropdownContent a:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.dropdownShow {
  display: flex;
}
.dropdown:hover .dropbtn {
  color: white;
} */
