.App {
  text-align: center;
}

.auth-container {
  align-self: center;
  height: 100%;
  display: flex;
  background: radial-gradient(
    circle,
    rgba(120, 255, 145, 0.6362920168067228) 0%,
    rgba(0, 255, 111, 0.5074404761904762) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  background: url('../public/assets/main/FlagUK.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.auth-container:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  opacity: 80%;
  filter: blur(34px);
}
