@import-normalize;
@import url('./fonts.css');

:root {
  --main-color: rgba(84, 141, 255, 1);
  --text-color: #410002;
  --tetriary-color: #7a4f7d;
  --border-color: rgb(0, 88, 201);
  --color-bg: #F5F5F5;
}

body {
  font-family: 'Nunito-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: var(--text-color); */
  background-color: aliceblue;
}

* {
  margin: 0px;
  padding: 0px;
  
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  /* color: var(--text-color); */
}

.container {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto
}