.wrapper,
.wrapper_msg {
  margin: auto;
  background-color: var(--main-color);

  padding: 10px 15px 25px;
  text-align: center;
  width: 290px;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: #00b637;
  box-shadow: 5px 7px 17px 0px blue;
  z-index: 3;
}

.wrapper_msg {
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  font-size: 1.2rem;
  /* padding-bottom: 10px; */

  transition: background-color 0.4s ease;
}

.wrapper_msg a {
  display: block;
}

.title {
  margin-bottom: 20px;
}

.signup {
  width: inherit;
}

.signup input {
  width: 93%;
  padding: 4px 8px;
  margin-bottom: 30px;
  border-radius: 14px;
  border: 2px solid var(--border-color);
  line-height: 1.5rem;
}

.signup input::placeholder {
  color: rgb(145, 162, 177);
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.btn,
.btnSwitch,
.confirm_btn {
  min-width: 100px;
  border-radius: 14px;
  padding: 4px 8px;
  background-color: #7ceb94;
  border: 2px solid #005eff;
  line-height: 1.5rem;
  cursor: pointer;
  transition: all ease 0.3s;
  color: var(--text-color);
}

.btn:hover,
.btnSwitch:hover,
.confirm_btn:hover {
  filter: brightness(115%);
  transform: translatey(-2px);
}

.btnSwitch {
  background-color: #fc9898;
}

p {
  color: #ffd2d2;
  padding-top: 10px;
}

.btn {
  flex: 1 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.confirm_btn {
  max-width: 290px;
  margin: 15px auto
}


