.wrapper,
.wrapper_msg {
  margin: auto;
  text-align: center;
  width: 300px;
  overflow: hidden;
  z-index: 3;
}

.wrapper_msg {
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  transition: background-color 0.4s ease;
}

.wrapper_msg a {
  display: inline-block;
}

.wrapper_msg p {
  font-family: 'Nunito-Light';
  font-size: 20px;
  line-height: 30px;
}

.title {
  font-family: 'Nunito-Bold';
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1em;
  margin-bottom: 55px;
  text-transform: uppercase;
  color: var(--border-color);
}

.signup,
.signin {
  text-align: initial;
  margin-bottom: 20px;
}

.signup input,
.signin input {
  width: 100%;
}
.signup label,
.signin label {
  font-family: 'Nunito-Medium';
  font-size: 14px;
  line-height: 28px;
}

.signup input {
  padding: 7px 8px;
  margin-bottom: 16px;
  line-height: 1.5rem;
  border: 1px solid #afcaee;
  border-radius: 6px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  column-gap: 24px;
}

.btn,
.confirm_btn {
  font-family: 'Nunito-Bold';
  min-width: 100px;
  border-radius: 6px;
  padding: 8px 20px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.btnSwitch {
  text-decoration: underline;
  color: #000000;
}

.btn {
  font-size: 16px;
}

.confirm_btn {
  max-width: 290px;
  width: 120px;
  margin: 24px auto;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}
